<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

	<label for="promotionType">Tipul Promotiei: </label>
	<select id="promotionType" name="promotionType" required="required" >
		<option disabled="disabled">-- Tipul promotiei --</option>
		<option value="local">Promotii locale</option>
		<option value="national">Promotii nationale</option>
		<option value="international">Promotii internationale</option>
	</select><br/><br/>

	<label for="category">Categoria: </label>
	<select id="category" name="categry" required="required">
		<option value="alimentara">Produse alimentare</option>
		<option value="constructii">Constructii</option>
		<option value="casa si gradinarit">Casa si gradinarit</option>
	</select><br/><br/>

	<label for="productName">Numele produsului</label>
	<input type="text" name="productName" id="productName">

	<label for="shopName">Numele magazinului:  </label>
	<input type="text" name="shopName"  id="shopName"/><br/><br/>

	<label for="startDate">Data inceperii promotiei: </label>
	<input type="date" name="startDate" id="startDate" /><br/><br/>

	<label for="endDate">Data incheierii promotiei: </label>
	<input type="date" name="endDate" id="endDate"><br/><br/>

	<label for="image">Fotografii: </label>
	<input type="file" name="image" id="image" />
	<input type="file" name="image" id="image" />
	<input type="file" name="image" id="image" /><br/><br/>

	<label for="description">Descriere: </label>
	<input type="text" name="description" id="description"><br/><br/>

	<label for="catalog">Catalog: </label>
	<input type="file" name="catalog" id="catalog"><br/><br/>

</body>
</html>